@{
    ViewBag.Title = "Acerca de Nosotros - Ti Developer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1
        style="text-align: center;
        padding: 15px 0px;
        border-bottom: solid 1px #797878;
        margin: 30px;">
        Sobre Ti Developer
    </h1>
    <p>Somos una academia especializada en ASP.NET MVC5. Nuestro objetivo es formarte y ayudarte a conseguir tu primer empleo en TI.</p>

    <div class="about-content">
        <div class="about-card">
            <h2>Modelo Único</h2>
            <p>No pagas hasta que consigas empleo.</p>
        </div>
        <div class="about-card">
            <h2>Garantía Laboral</h2>
            <p>Más de 100 egresados han encontrado empleo.</p>
        </div>
    </div>
</div>
