@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP.NET (8.0.407) MVC in Docker!</h1>
    <p>Learn about <a href="https://github.com/neosoir/ASP-MVC/">this project</a>.</p>
</div>
