@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to .Net 8.0</h1>
    <p>Learn about <a href="https://github.com/neosoir/ASP-MVC.git">this project on GitHub</a>.</p>
</div>
